
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: auto;
}

.form-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: auto;
}

.team-box {
    padding: 1rem;
}

.pokemon-box {
    margin: 1rem;
    row-gap: 3rem;
}


.pokemon-controls {
    display: flex;
    flex-flow: row;
    row-gap: 1rem;
    justify-content: center;
    margin-top: 0.5rem;
}

.pokemon-controls p {
    margin: 0.5rem;
}
