{{ define "home" }}
<!DOCTYPE html>
<html>

<head>
    <title>Teste</title>
    {{ template "links" }}
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10rem;
            margin-bottom: auto;
        }
        .form-container {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            margin-top: 3rem;
            margin-bottom: auto;
        }
        .team-box {
            padding: 1rem;
        }
    </style>
</head>

<body>
    <form class="form-container">
        <div>
            <h2 class="">
                Gerar time aleatório 
            </h2>
        </div>
        <div>
            <button hx-get="/team" 
                    hx-target="#team-div"
                    class="nes-btn is-primary">
                Gerar
            </button>
        </div>
    </form>
    <div id="team-div" class="center">
    </div>
</body>

</html>
{{ end }}
